<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" #rla="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home </a></li>
    <li><a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a>
        <ul>
          <li><a routerLink="/test/child-a" routerLinkActive="active">Child A</a></li>
          <li><a routerLink="/test/child-b" routerLinkActive="active">Child B</a></li>
        </ul>
    </li>
  </ul>
  <li><a routerLink="/route" [queryParams]="{name: 'Saeid'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">ActivatedRoute</a></li>
  <li><a routerLink="/products">Products</a></li>

</nav>

{{ rla.isActive ? 'You are at home!' : 'You are NOT at home!' }}

<div>
  <button (click)="gotoPage('/test')">Take me to Test page with URL params</button>
</div>

<router-outlet></router-outlet>
